/*Main*/
:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --ligth: #EEE;
    --gray: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    background: var(--dark);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

.logo{
    margin-bottom: 4em;
    height: 5%;
    width: 5%;
}
.title{
    margin-bottom: 0px;
    font-family: 'Fira sans', sans-serif;
    color: #ec2127;
    font-size: 50px;
    font-weight: 600; 
}

.centralized{
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submit-button{
    color: var(--pink);
    font-size: 1.4rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.4s;
}

#submit-button:hover{
    opacity: 0.8;
}

#submit-button:active{
    background-image: linear-gradient(to right, var(--purple), var(--pink));
    cursor: pointer;
    transition: 0.1s;
    opacity: 0.5;
}

#form{
    background-color: var(--darker);
    border-radius: 20px;
    padding-left: 5em;
    width: 45em;
    height: 4em;
    align-items: center;
    justify-content: center;
    display: flex;
}

#enemies{
    display: grid;
}

#enemies .enemy .content{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;   
    font-size: 1.25em;
}

#enemies .enemy .content .text{
    color:var(--ligth)
}

#enemies .enemy .content .text:not(:read-only){
    color: var(--pink);
}

#enemies .enemy .actions{
    display: flex;
    margin: 0 -0.5rem;
}

.enemy .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.enemy .actions button:hover{
    opacity: 0.8;
}

.enemy .actions button:active{
    opacity: 0.5;
}

.enemy .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enemy .actions .delete {
    color: crimson;
}